<settings>
    <servers>
        <server>
            <id>github</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <!--
                          Yes, we committed a secret token to git.

                          This is a GitHub personal access token that allows contributors to this project to download
                          packages published to public repositories via Maven. The owner of this token is a GitHub
                          "machine user" with no access to anything important and the token itself has only the
                          packages:read permission. Placing the token here allows contributors to act as this user.

                          This is necessary because GitHub Packages, unlike the Maven central repo, does not allow
                          unauthorized package downloads. We can remove this whole folder if we migrate to a different
                          Maven repo or if GitHub begins supporting unauthorized package downloads.

                          An alternative would be to force every contributor to configure their own personal access
                          token in GitHub and put it in their ~/.m2/settings.xml, which would be more work for everyone.
                        -->
                        <value>Bearer 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</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>
